/* LAYOUT MASTER */

div.main {
    background-image: url(../img/backgrounds/imgfondo.png);
    background-size: cover;
    background-repeat: repeat-x;
}


/* NAVEGADOR */

div.dropdown-menu {
    left: -100px !important;
    right: 0 !important;
}


/* INDEX */

div.contenedor {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
}

div.contenedor div.contenido {
    min-height: 100vh;
}

div.contenedor div.box-index,
div.contenedor div.box-mode,
div.contenedor div.box-gamemode,
div.contenedor div.box-historia {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    display: flex;
    min-height: 400px;
    justify-content: center;
    outline: 1px dashed #000;
    outline-offset: -10px;
    overflow: hidden;
    padding: 2em;
}

div.box-index a.btn-primary,
div.box-index button.btn-primary,
div.box-mode a.btn-primary,
div.box-mode button.btn-primary,
div.box-gamemode a.btn-primary,
div.box-gamemode button.btn-primary {
    background-color: #C35662 !important;
    border: none !important;
    border-radius: 5px;
    color: azure;
    width: 250px;
}

div.box-index a.btn-primary:hover,
div.box-index button.btn-primary:hover,
div.box-mode a.btn-primary:hover,
div.box-mode button.btn-primary:hover,
div.box-gamemode a.btn-primary:hover,
div.box-gamemode button.btn-primary:hover {
    background-color: #a54c56 !important;
}

div.contenedor div.box-index div.box-index-contenido {
    height: auto;
}

div.fab {
    align-items: flex-end;
    bottom: 5%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    position: fixed;
    right: 3%;
    width: 300px;
}

div.fab div.fab-action-btn {
    flex-grow: 2;
    flex-basis: 100%;
}

div.fab div.fab-action-btn button.btn-fab {
    height: 60px;
    width: 60px;
}

div.fab div.fab-action-btn button.btn-fab .icon {
    font-size: 2em;
}

div.fab div.fab-action-menu {
    align-items: center;
    bottom: 10%;
    display: inherit;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: space-between;
    padding: 0 11.5px 5px 0;
    right: 3.5%;
}

div.fab div.fab-action-menu div.fab-item {
    align-items: center;
    display: inherit;
    justify-content: center;
    margin: 1% 0;
}

div.fab div.fab-action-menu div.fab-item span {
    margin-right: .5em;
    padding: .3em;
}


/* LOGIN/REGISTER */

div.login,
div.registro {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    justify-content: center;
    outline: 1px dashed #000;
    outline-offset: -10px;
    padding: 2em;
}

div.col-logo,
div.col-volver {
    display: inherit;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
}

div.col-logo {
    color: #f5f5f5;
}


/* Historys */

div.card {
    height: 400px;
    max-height: 400px;
}

div.card h2 {
    font-size: 1em;
}

div.card img {
    height: 180px;
}


/* History/+ */

div.box-historia img {
    height: 200px;
    min-width: 220px;
    max-width: 250px;
}


/* Gamemode */

form.gamemode h3 {
    padding: .5em 0;
    text-align: center;
}

form.gamemode div.select-tablero {
    border-radius: 2px;
}

form.gamemode div.input-tableroNuevo,
form.gamemode div.input-tableroDefault {
    background-size: cover;
    background-repeat: repeat-x;
    border-color: none;
    border-radius: 2px !important;
    height: 75px;
    width: 75px;
}

form.gamemode div.input-tableroNuevo {
    background-image: url(../img/tablero/default.png);
}

form.gamemode div.input-tableroDefault {
    background-image: url(../img/tablero/default.png);
}


/* Perfil - Panel */

div.contenedor-perfil div.perfil {
    background-color: #fff;
    border-radius: 15px;
    margin: 2.5% 25%;
    min-height: 85vh;
    outline: 1px dashed #000;
    outline-offset: -10px;
    overflow: hidden;
    padding: 2em;
}

div.contenedor-perfil div.perfil div.perfil-opciones {
    align-items: center;
    display: flex;
    height: 60vh;
    justify-content: center !important;
}

div.contenedor-perfil div.perfil a.perfil-boton {
    align-items: center;
    border: 1px solid rgba(27, 31, 35, .2);
    display: inherit;
    height: 175px;
    justify-content: center;
    margin: 1%;
    width: 175px;
}

div.contenedor-perfil div.perfil a.perfil-boton img {
    height: 90%;
    width: 100%;
}


/* Panel de conocimiento */

div.contenedor-perfil,
div.contenedor-panel {
    background-color: rgba(0, 0, 0, 0.952);
    min-height: 100vh;
    overflow: hidden;
}

div.contenedor-panel div.panel {
    background-color: #eafff6;
    min-height: 80vh;
    margin: 2% 10%;
    padding: 1%;
}

div.contenedor-panel div.panel h1 {
    padding: 1% 0;
}

div.contenedor-panel div.panel div.contenido {
    padding-top: 2%;
}

div.contenedor-panel div.panel div.table-mujeres {
    background-color: #f0f0f0;
    box-shadow: inset 0 0 10px #000000;
    max-height: 400px !important;
    overflow-y: scroll;
    width: 100%;
}

div.contenedor-panel div.panel div.panel-aside-navegador {
    width: 100%;
}

div.contenedor-panel div.panel div.datosFormulario {
    padding: 2% 0;
}

div.contenedor-panel div.panel div.datosFormulario textarea {
    height: 150px;
}

div.contenedor-panel div.panel div.img-muestra {
    align-items: stretch;
    display: flex;
    height: 140px;
    justify-content: center;
    width: 100%;
}

div.contenedor-panel div.panel div.img-muestra img {
    width: 100%;
}


/* Footer */

div.footer {
    background-color: #161616 !important;
    border-radius: 0;
    color: #f5f5f5;
    margin-bottom: 0;
}
