/* LAYOUT MASTER */

div.main {
    background-image: url(../img/backgrounds/imgfondo.png);
    background-size: cover;
    background-repeat: repeat-x;
}


/* NAVEGADOR */

div.dropdown-menu {
    left: -50px !important;
    right: 0 !important;
}


/* INDEX */

div.index,
div.contenedor {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

div.index div.box {
    align-items: center;
    display: inherit;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    flex-flow: column;
    min-height: 400px;
    justify-content: center;
    outline: 1px dashed #000;
    outline-offset: -10px;
    overflow: hidden;
    padding: 2em;
    width: 40%;
}

div.box h1 {
    margin-bottom: 10%;
}

div.box form {
    margin: 1.5% 0;
    width: 50%;
}

div.box form button {
    width: 100%;
}

div.box a {
    font-size: 1rem;
    margin: 1.5% 0;
    width: 50%;
}

div.box a.btn-primary,
div.box button.btn-primary {
    background-color: #C35662 !important;
    border: none !important;
    border-radius: 5px;
    color: azure;
}

div.box a.btn-primary:hover,
div.box button.btn-primary:hover {
    background-color: #a54c56 !important;
}


/* LOGIN/REGISTER */

form.login,
form.registro {
    align-items: center;
    display: inherit;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    flex-flow: column;
    min-height: 400px;
    justify-content: center;
    outline: 1px dashed #000;
    outline-offset: -10px;
    overflow: hidden;
    padding: 2em;
    width: 100%;
}

div.col-logo,
div.col-volver {
    display: inherit;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
}

div.col-logo {
    color: #f5f5f5;
}


/* Historys */

div.cartas {
    padding: 1%;
}

div.card {
    height: 400px;
    margin: 1% 0 5%;
    max-height: 400px;
}

div.card h2 {
    font-size: 1em;
}

div.card img {
    height: 180px;
}


/* History/+ */

div.tarjeta {
    background-color: #fff;
    border-radius: 15px;
    margin: 2.5% 25%;
    min-height: 600px;
    outline: 1px dashed #000;
    outline-offset: -10px;
    overflow: hidden;
    padding: 2em;
}

div.colcard-img {
    align-items: center;
    display: inherit;
    justify-content: center;
}

div.colcard-resumen {
    margin: 5% 0 1em;
    padding: 0 5%;
    text-align: justify;
}


/* Gamemode */

form.gamemode {
    width: 70% !important;
}

form.gamemode h3 {
    padding: .5em 0;
    text-align: center;
}

form.gamemode div.select-tablero {
    border-radius: 2px;
}

form.gamemode div.input-tableroNuevo,
form.gamemode div.input-tableroDefault {
    background-size: cover;
    background-repeat: repeat-x;
    border-color: none;
    border-radius: 2px !important;
    height: 75px;
    width: 75px;
}

form.gamemode div.input-tableroNuevo {
    background-image: url(../img/tablero/default.png);
}

form.gamemode div.input-tableroDefault {
    background-image: url(../img/tablero/default.png);
}


/* Panel de conocimiento */

div.contenedor-panel {
    background-color: rgba(0, 0, 0, 0.952);
    min-height: 100vh;
    overflow: hidden;
}

div.contenedor-panel div.panel {
    background-color: #f0f0f0;
    min-height: 80vh;
    margin: 2% 10%;
    padding: 1%;
}

div.contenedor-panel div.panel div.table-mujeres {
    background-color: lavender;
    box-shadow: inset 0 0 10px #000000;
    max-height: 400px !important;
    overflow-y: scroll;
    width: 100%;
}

div.contenedor-panel div.panel div.panel-aside-navegador {
    width: 100%;
}


/* Footer */

div.footer {
    background-color: #161616 !important;
    border-radius: 0;
    color: #f5f5f5;
    margin-bottom: 0;
}