/* LAYOUT MASTER */

div.main {
    background-image: url(../img/backgrounds/imgfondo.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat-x;
}


/* NAVEGADOR */

div.dropdown-menu {
    left: -105px !important;
    right: 0 !important;
}


/* Floating Action Button */

div.fab {
    align-items: flex-end;
    bottom: 5%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    position: fixed;
    right: 3%;
    width: 300px;
    z-index: 1000;
}

div.fab button.btn-fab .icon {
    font-size: 2em;
}

div.fab .btn-item .icon {
    font-size: 1.5em;
}


/* menu abajo derecha*/

div.fab .menuslide {
    display: none;
}

div.fab .esconder {
    display: none;
}

div.fab #btn-txt {
    display: none;
}


/* INDEX */

div.contenedor {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
}

div.contenedor div.contenido,
div.contenedor-panel div.contenido {
    min-height: 90vh;
}

div.contenedor div.box-index,
div.contenedor div.box-mode,
div.contenedor div.box-gamemode,
div.contenedor div.box-historia {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    display: flex;
    min-height: 400px;
    justify-content: center;
    outline: 1px dashed #000;
    outline-offset: -10px;
    overflow: hidden;
    padding: 2em;
}

div.box-index a.btn-primary,
div.box-index button.btn-primary,
div.box-mode a.btn-primary,
div.box-mode button.btn-primary,
div.box-gamemode a.btn-primary,
div.box-gamemode button.btn-primary {
    background-color: #C35662 !important;
    border: none !important;
    border-radius: 5px;
    color: azure;
    width: 250px;
}

div.box-index a.btn-primary:hover,
div.box-index button.btn-primary:hover,
div.box-mode a.btn-primary:hover,
div.box-mode button.btn-primary:hover,
div.box-gamemode a.btn-primary:hover,
div.box-gamemode button.btn-primary:hover {
    background-color: #a54c56 !important;
}

div.contenedor div.box-index div.box-index-contenido {
    height: auto;
}


/* LOGIN/REGISTER */

div.login,
div.registro {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    justify-content: center;
    outline: 1px dashed #000;
    outline-offset: -10px;
    padding: 2em;
}

div.col-logo,
div.col-volver {
    display: inherit;
    align-items: center;
    justify-content: center;
}

div.col-logo {
    color: #f5f5f5;
}


/* Historys */

div.card {
    height: 400px;
    max-height: 400px;
}

div.card h2 {
    font-size: 1em;
}

div.card .card-body-img img{
    object-fit: cover;
}

.antropologia {
    background-color: #fec57c;
}

.derecho {
    background-color: #9fffff;
}

.economia {
    background-color: #ffd6dd;
}

.filosofia {
    background-color: #fd7cfd;
}

.geografia {
    background-color: #fe9494;
    color: #fff;
}

.historia {
    background-color: #a76f62;
    color: #fff;
}

.pedagogia {
    background-color: #aaf59e;
}

.psicologia {
    background-color: #a8a8ff;
    color: #fff;
}

.sociologia {
    background-color: #fefe85;
}


/* History/+ */

div.box-historia img {
    height: 200px;
    min-width: 220px;
    max-width: 250px;
}


/* Gamemode */

form.gamemode h3 {
    padding: .5em 0;
    text-align: center;
}

form.gamemode div.select-tablero {
    border-radius: 2px;
}

form.gamemode div.input-tableroNuevo,
form.gamemode div.input-tableroDefault {
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 2px !important;
    cursor: pointer;
    height: 75px;
    width: 75px;
}

form.gamemode div.input-tableroNuevo {
    background-image: url(../img/tablero/default.png);
}

form.gamemode div.input-tableroDefault {
    background-image: url(../img/tablero/default.png);
}


/* Perfil - Panel */

div.contenedor-panel div.box-panel a.panel-boton img {
    height: 100px;
    width: 100px;
}

div.table-perfil-posts {
    border-collapse: collapse;
    max-height: 400px !important;
    overflow-y: scroll;
    table-layout: fixed;
    width: 100%;
}


/* Panel de conocimiento */

div.contenedor-panel {
    background-color: rgba(0, 0, 0, 0.952);
    min-height: 100vh;
    overflow: hidden;
}

div.contenedor-panel div.box-panel,
div.contenedor-panel div.box-perfil,
div.contenedor-panel div.panel-ambitos,
div.contenedor-panel div.panel-continentes,
div.contenedor-panel div.panel-usuarios,
div.contenedor-panel div.panel-cartas {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    min-height: 400px;
    min-width: 50%;
    outline: 1px solid #C35662;
    outline-offset: -10px;
    overflow: hidden;
    padding: 2em;
}

div.contenedor-panel div.table-usuarios,
div.contenedor-panel div.table-ambitos,
div.contenedor-panel div.table-continentes,
div.contenedor-panel div.table-mujeres {
    background-color: #f0f0f0;
    border-collapse: collapse;
    max-height: 400px !important;
    table-layout: fixed;
    overflow-y: scroll;
    width: 100%;
}

div.contenedor-panel textarea {
    height: 150px;
}

div.contenedor-panel div.panel-contenido div.img-muestra {
    height: 150px;
}

div.contenedor-panel div.panel-contenido div.img-muestra img {
    height: 100%;
    width: 100%;
}

/* Blog */
div.blog-body {
    background-color:  rgba(0, 0, 0, 0.35);
    min-height: 100vh !important;
}

div.blog-body div.blog-section div.blog-article-principal {
    background-color: #fdfdfd;
    border: 1px solid #aeff7f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 260px;
    overflow: hidden;
    text-align: justify;
    width: 100%;
}

div.blog-body div.blog-section div.blog-article-principal h2.titulo-principal {
    font-size: 3em !important;
}

div.blog-body div.blog-section div.blog-article-principal p.text-principal {
    font-size: 1.5em !important;
}

div.blog-body div.blog-section div.blog-article-principal p.text-info {
    color: #000 !important;
    font-size: 1em !important;
    margin: 0;
}

div.blog-body div.blog-section h3.blog-text-secundary {
    color: #fff;
    font-size: 3em !important;
    font-weight: bold;
    text-decoration: underline;
}

div.blog-body div.blog-section div.blog-article {
    background-color: #fdfdfd;
    border: 1px solid #7ffbff;
    height: 230px;
    overflow: hidden;
    text-align: left;
}

div.blog-body div.blog-section div.blog-article h5.titulo-principal,
div.blog-body div.blog-section div.blog-post h5.titulo-principal {
    font-size: 1.5em !important;
    font-weight: bold;
}

div.blog-body div.blog-section div.blog-article p.text-info,
div.blog-body div.blog-section div.blog-post p.text-info,
div.blog-body div.blog-section div.blog-comentary p.text-info {
    color: #000 !important;
    font-size: .8em !important;
}

div.blog-body div.blog-section div.blog-article div.blog-article-footer {
    background-color: #c7c7c7;
    border-top: 1px solid #7ffbff;
}

div.blog-body div.blog-section div.blog-post {
    background-color: #fdfdfd;
    border: 1px solid #e254a0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    max-height: 1500px;
    min-height: 150px; 
    overflow: hidden;
    text-align: left; 
}

div.blog-body div.blog-section div.blog-post div.blog-post-img {
    max-height: 768px;
}
div.blog-body div.blog-section div.blog-post div.blog-post-img img {
    object-fit: cover;
}

div.blog-body div.blog-section div.blog-comentary {
    border: none;
    border-bottom: 1px solid #757575;
    height: auto;
    max-height: 150px;
    min-height: 90px;
}

div.blog-body div.blog-section div.blog-comentary button.btn-comentario-eliminar {
    font-size: .5em !important; 
}

div.blog-body div.blog-aside {
    background-color: #e4e4e4;
    /*background-image: linear-gradient(141deg, #9fe9ee 0%, #b88dcf 51%, #bb75f5 75%);*/
    border: 1px solid #e8ff7f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 500px;
}

div.blog-body div.blog-aside h4.blog-title-navigation {
    font-size: 2em !important;
    font-weight: bold;
}

div.blog-body div.blog-aside input.blog-aside-busqueda {
    border: 1px solid #e8ff7f;
}

div.blog-body div.blog-aside a.blog-aside-lista-item {
    border: 1px solid #d169e6;
    border-left: 5px solid #e081f3;
}

/* Footer */

div.footer {
    background-color: #161616 !important;
    border-radius: 0;
    color: #f5f5f5;
    margin-bottom: 0;
}


/* OCULTAR OBJ o ELEMENTS */
.nodisplay {
    display: none !important;
}