/* LAYOUT MASTER */

div.main {
    background-image: url(../img/backgrounds/imgfondo.png);
    background-size: cover;
    background-repeat: repeat-x;
}


/* INDEX */

div.index,
div.contenedor {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

div.index div.box {
    align-items: center;
    display: inherit;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    flex-flow: column;
    min-height: 400px;
    justify-content: center;
    outline: 1px dashed #000;
    outline-offset: -10px;
    overflow: hidden;
    padding: 2em;
    width: 40%;
}

div.box h1 {
    margin-bottom: 10%;
}

div.box form {
    margin: 1.5% 0;
    width: 50%;
}

div.box form button {
    width: 100%;
}

div.box a {
    font-size: 1rem;
    margin: 1.5% 0;
    width: 50%;
}

div.box a.btn-primary,
div.box button.btn-primary {
    background-color: #C35662 !important;
    border: none !important;
    border-radius: 5px;
    color: azure;
}

div.box a.btn-primary:hover,
div.box button.btn-primary:hover {
    background-color: #a54c56 !important;
}


/* LOGIN/REGISTER */

form.login,
form.registro {
    align-items: center;
    display: inherit;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    flex-flow: column;
    min-height: 400px;
    justify-content: center;
    outline: 1px dashed #000;
    outline-offset: -10px;
    overflow: hidden;
    padding: 2em;
    width: 100%;
}

div.col-logo,
div.col-volver {
    display: inherit;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
}

div.col-logo {
    color: #f5f5f5;
}


/* Historys */

div.cartas {
    padding: 1%;
}

div.card {
    margin: 1% 0;
}


/* History/+ */

div.tarjeta {
    background-color: #fff;
    border-radius: 15px;
    margin: 2.5% 25%;
    min-height: 600px;
    outline: 1px dashed #000;
    outline-offset: -10px;
    overflow: hidden;
    padding: 2em;
}

div.colcard-img {
    align-items: center;
    display: inherit;
    justify-content: center;
}