body {
    background-image: url(../img/backgrounds/imgfondo.png);
    background-size: cover;
    background-repeat: repeat-x;
}

div.index {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: auto;
}
div.index div.box {
    align-items: center;
    display: inherit;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    flex-flow: column;
    height: 50vh;
    justify-content: center;
    overflow: hidden;
    padding: 2em;
    width: 50%;
}
div.box h1 {
    margin-bottom: 15%;
}
div.box button {
    font-size: 1rem;
    margin: 1.5% 0;
    width: 50%;
}