/* LAYOUT MASTER */

div.main {
    background-image: url(../img/backgrounds/imgfondo.png);
    background-size: cover;
    background-repeat: repeat-x;
}


/* NAVEGADOR */

div.dropdown-menu {
    left: -105px !important;
    right: 0 !important;
}

/* Floating Action Button */
div.fab {
    align-items: flex-end;
    bottom: 5%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    position: fixed;
    right: 3%;
    width: 300px;
}

div.fab button.btn-fab .icon {
    font-size: 2em;
}
div.fab .btn-item .icon {
    font-size: 1.5em;
}


/* INDEX */

div.contenedor {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
}

div.contenedor div.contenido,
div.contenedor-panel div.contenido {
    min-height: 90vh;
}

div.contenedor div.box-index,
div.contenedor div.box-mode,
div.contenedor div.box-gamemode,
div.contenedor div.box-historia {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    display: flex;
    min-height: 400px;
    justify-content: center;
    outline: 1px dashed #000;
    outline-offset: -10px;
    overflow: hidden;
    padding: 2em;
}

div.box-index a.btn-primary,
div.box-index button.btn-primary,
div.box-mode a.btn-primary,
div.box-mode button.btn-primary,
div.box-gamemode a.btn-primary,
div.box-gamemode button.btn-primary {
    background-color: #C35662 !important;
    border: none !important;
    border-radius: 5px;
    color: azure;
    width: 250px;
}

div.box-index a.btn-primary:hover,
div.box-index button.btn-primary:hover,
div.box-mode a.btn-primary:hover,
div.box-mode button.btn-primary:hover,
div.box-gamemode a.btn-primary:hover,
div.box-gamemode button.btn-primary:hover {
    background-color: #a54c56 !important;
}

div.contenedor div.box-index div.box-index-contenido {
    height: auto;
}

/* LOGIN/REGISTER */

div.login,
div.registro {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    justify-content: center;
    outline: 1px dashed #000;
    outline-offset: -10px;
    padding: 2em;
}

div.col-logo,
div.col-volver {
    display: inherit;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
}

div.col-logo {
    color: #f5f5f5;
}


/* Historys */

div.card {
    height: 400px;
    max-height: 400px;
}

div.card h2 {
    font-size: 1em;
}

div.card img {
    height: 180px;
}


/* History/+ */

div.box-historia img {
    height: 200px;
    min-width: 220px;
    max-width: 250px;
}


/* Gamemode */

form.gamemode h3 {
    padding: .5em 0;
    text-align: center;
}

form.gamemode div.select-tablero {
    border-radius: 2px;
}

form.gamemode div.input-tableroNuevo,
form.gamemode div.input-tableroDefault {
    background-size: cover;
    background-repeat: repeat-x;
    border-color: none;
    border-radius: 2px !important;
    height: 75px;
    width: 75px;
}

form.gamemode div.input-tableroNuevo {
    background-image: url(../img/tablero/default.png);
}

form.gamemode div.input-tableroDefault {
    background-image: url(../img/tablero/default.png);
}


/* Perfil - Panel */

div.contenedor-panel div.box-panel a.panel-boton img {
    height: 90%;
    width: 100%;
}

/* Panel de conocimiento */

div.contenedor-panel {
    background-color: rgba(0, 0, 0, 0.952);
    min-height: 100vh;
    overflow: hidden;
}
div.contenedor-panel div.box-panel,
div.contenedor-panel div.box-perfil,
div.contenedor-panel div.panel-cartas {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    min-height: 400px;
    min-width: 50%;
    outline: 1px solid #C35662;
    outline-offset: -10px;
    overflow: hidden;
    padding: 2em;
}

div.contenedor-panel div.table-mujeres {
    background-color: #f0f0f0;
    border-collapse: collapse;
    max-height: 400px !important;
    table-layout: fixed;
    overflow-y: scroll;
    width: 100%;
}

div.contenedor-panel textarea {
    height: 150px;
}
div.contenedor-panel div.panel-contenido div.img-muestra {
    height: 150px;
}
div.contenedor-panel div.panel-contenido div.img-muestra img {
    height: 100%;
    width: 100%;
}


/* Footer */

div.footer {
    background-color: #161616 !important;
    border-radius: 0;
    color: #f5f5f5;
    margin-bottom: 0;
}
