#jugador1{ 
    width: 250px; 
    height: 200px; 
    border:solid black 3px; 
    background-color: green; 
    position: fixed; 
    left: 0px;
    top:0px;
}
#jugador2{
    width: 250px; 
    height: 200px; 
    border:solid black 3px; 
    background-color: blue; 
    position: fixed; 
    left: 0px;
    bottom:0px;
}
#jugador3{
    width: 250px; 
    height: 200px; 
    border:solid black 3px; 
    background-color: yellow; 
    position: fixed; 
    right:0px;
    bottom:0px;
}
#jugador4{
    width: 250px; 
    height: 200px; 
    border:solid black 3px; 
    background-color: red; 
    position: fixed; 
    right:0px;
    top:0px;}

#dado{
    width: 400px; 
    height: 200px; 
    border:solid black 3px; 
    background-color: red; 
    position: fixed; 
    bottom:0px;
    left: 80vw;
    text-align: center;
}
#botontirar{
    width: 200px; 
    height: 50px; 
}

#ficha1{
 background-color: aqua; 
 height: 100px;
 width: 100px;
 border-radius: 50%;
 position: absolute;
}
.jugador{
    width: 150px;
    height: 150px;
    border-radius: 50%;}

.contjugador{
    text-align: center;
}
.casilla{width: 200; height: 200; border:solid black 4px; background-color: white; font-size: 175%;}
#tablero{
    border:solid black 2px;
    margin-top: 50px;
    margin-left: 250px;
    width: 5000px;
    height: 5000px;
    background-color: blue;
    display: grid; 
    grid-template-areas:  "c28 c27 c26 c25 c24 c23 c22 c21   c20 c19  "
                          "c29 c60 c59 c58 c57 c56 c55 c54   c53 c18"
                          "c30 c61 .   .   d   d   .   .     c52 c17"
                          "c31 c62 c63 c63 c63 c63 c63 .     c51 c16"
                          "c32 .   c63 c63 c63 c63 c63 .     c50 c15"
                          "c33 .   c63 c63 c63 c63 c63 .     c49 c14"
                          "c34 .   c63 c63 c63 c63 c63 .     c48 c13"
                          "c35 .   c63 c63 c63 c63 c63 .     c47 c12"
                          "c36 .   .   .   .   .   .   .     c46 c11"
                          "c37 c38 c39 c40 c41 c42 c43 c44   c45 c10"
                          "c1  c1  c2  c3  c4  c5  c6  c7    c8  c9 ";

                          grid-template-columns:auto;
                          grid-template-rows:auto;
                          }

                          #casillaInicio{grid-area: c1;margin-bottom: 10px; margin-left: 10px;}

                          #casilla2{grid-area: c2;margin-bottom: 10px;}
                          #casilla3{grid-area: c3;margin-bottom: 10px;}
                          #casilla4{grid-area: c4;margin-bottom: 10px;}
                          #casilla5{grid-area: c5;margin-bottom: 10px;}
                          #casilla6{grid-area: c6;margin-bottom: 10px;}
                          #casilla7{grid-area: c7;margin-bottom: 10px;}
                          #casilla8{grid-area: c8;margin-bottom: 10px;}

                          #casilla9{grid-area: c9;margin-bottom: 10px;border-bottom-right-radius: 50%;margin-right: 10px;}
                          #casilla10{grid-area:c10;margin-right: 10px;}
                          
                          #casilla11{grid-area: c11;margin-right: 10px;}
                          #casilla12{grid-area: c12;margin-right: 10px;}
                          #casilla13{grid-area: c13;margin-right: 10px;}
                          #casilla14{grid-area: c14;margin-right: 10px;}
                          #casilla15{grid-area: c15;margin-right: 10px;}
                          #casilla16{grid-area: c16;margin-right: 10px;}
                          #casilla17{grid-area: c17;margin-right: 10px;}
                          #casilla18{grid-area: c18;margin-right: 10px;}
                          #casilla19{grid-area: c19;margin-top: 10px; margin-right: 10px;
                                     border-top-right-radius: 50%;}
                          #casilla20{grid-area: c20;margin-top: 10px;}
                          
                          #casilla21{grid-area: c21;margin-top: 10px;}
                          #casilla22{grid-area: c22;margin-top: 10px;}
                          #casilla23{grid-area: c23;margin-top: 10px;}
                          #casilla24{grid-area: c24;margin-top: 10px;}
                          #casilla25{grid-area: c25;margin-top: 10px;}
                          #casilla26{grid-area: c26;margin-top: 10px;}
                          #casilla27{grid-area: c27; margin-top: 10px;}
                          #casilla28{grid-area: c28; margin-left: 10px;border-top-left-radius: 50%; margin-top: 10px;}
                          #casilla29{grid-area: c29; margin-left: 10px;}
                          #casilla30{grid-area: c30; margin-left: 10px;}
                          
                          #casilla31{grid-area: c31; margin-left: 10px;}
                          #casilla32{grid-area: c32; margin-left: 10px;}
                          #casilla33{grid-area: c33; margin-left: 10px;}
                          #casilla34{grid-area: c34; margin-left: 10px;}
                          #casilla35{grid-area: c35;margin-left: 10px; }
                          #casilla36{grid-area: c36; margin-left: 10px;}
                          #casilla37{grid-area: c37;margin-bottom: 10px; border-bottom-left-radius: 50%;margin-left: 10px;}
                          #casilla38{grid-area: c38;margin-bottom: 10px;}
                          #casilla39{grid-area: c39;margin-bottom: 10px;}
                          #casilla40{grid-area: c40;margin-bottom: 10px;}
                          
                          #casilla41{grid-area: c41; margin-bottom: 10px;}
                          #casilla42{grid-area: c42; margin-bottom: 10px; }
                          #casilla43{grid-area: c43; margin-bottom: 10px;}
                          #casilla44{grid-area: c44; margin-bottom: 10px;}
                          #casilla45{grid-area: c45; margin-right: 10px; border-bottom-right-radius: 50%;}
                          #casilla46{grid-area: c46; margin-right: 10px;}
                          #casilla47{grid-area: c47; margin-right: 10px;}
                          #casilla48{grid-area: c48; margin-right: 10px;}
                          #casilla49{grid-area: c49; margin-right: 10px; }
                          #casilla50{grid-area: c50; margin-right: 10px;;}
                          
                          #casilla51{grid-area: c51; margin-right: 10px;}
                          #casilla52{grid-area: c52; margin-right: 10px;}
                          #casilla53{grid-area: c53; margin-right: 10px; margin-top: 10px;border-top-right-radius: 50%;}
                          #casilla54{grid-area: c54; margin-top: 10px;}
                          #casilla55{grid-area: c55; margin-top: 10px; }
                          #casilla56{grid-area: c56; margin-top: 10px;}
                          #casilla57{grid-area: c57; margin-top: 10px;}
                          #casilla58{grid-area: c58; margin-top: 10px;}
                          #casilla59{grid-area: c59; margin-top: 10px;}
                          #casilla60{grid-area: c60; margin-top: 10px; margin-left: 10px; border-top-left-radius: 50%;}
                          
                          #casilla61{grid-area: c61; margin-left: 10px;}
                          #casilla62{grid-area: c62;margin-left: 10px; border-bottom-left-radius: 50%;}
                          
                          #casillaFinal{
                              grid-area: c63; 
                              background-repeat: no-repeat; 
                              background-position: center;}