body{background-color:#F29199}

#jugador1{ 
    opacity: 0.5;
    width: 460px;  
    height: 520px; 
    border:solid black 3px; 
    background-color: green; 
    position: fixed; 
    left: 0px;
    top:0px;
    font-size: 200%;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
}
#jugador2{
    opacity: 0.5;
    width: 460px;  
    height: 520px;
    border:solid black 3px; 
    background-color: blue; 
    position: fixed; 
    left: 0px;
    bottom:0px;
    font-size: 200%;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
}
#jugador3{
    opacity: 0.5;
    width: 460px; 
    height: 520px; 
    border:solid black 3px; 
    background-color: yellow; 
    position: fixed; 
    right:0px;
    bottom:0px;
    font-size: 200%;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
}
#jugador4{
    opacity: 0.5;
    width: 460px; 
    height: 520px;
    border:solid black 3px; 
    background-color: red; 
    position: fixed; 
    right:0px;
    top:0px;
    font-size: 200%;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
}

#nombre{font-size: 200%; margin: 0px; color: white;}

#score{font-size: 200%; margin: 0px; color: white;}

#debug{  left: 150vw;   position: fixed; background-color: yellowgreen; top:0px; width: 2000px; height: 500px; font-size: 200%;}
#btndebug{font-size: 200%;}

#panelDado{
    width: 600px; 
    height: 500px; 
    border:solid black 3px; 
    background-color: red; 
    position: fixed; 
    bottom:0px;
    left: 180vw;
    text-align: center;
}
#botontirar{
    width: 400px; 
    height: 150px; 
    font-size: 300%;
}

.ficha{
 background-color: white; 
 height: 100px;
 width: 100px;
 border-radius: 50%;
 
}

.jugador{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}



#dado1{
    width: 350px;
    height: 350px;
}

.contjugador{
    text-align: center;
}

.pregunta{
    margin-top: -125px;
    margin-right: 10px;
    border-radius: 50%;
    font-size: 50px;
    border:solid black 4px;
    width: 70px;
    text-align: center;
    background-color: grey;
    float: right;
}

.casilla{
    width: 200; 
    height: 200; 
    border:solid black 6px; 
    background-color: white; 
    font-size: 350%; 
    padding:0px;
    background-image: url(recursos/persona.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Impact, Charcoal, sans-serif;
    color: darkmagenta;}

.Nº {
    margin-top: 2px;
    margin-top:10px;
    border-radius: 50%;
    font-size: 50px;
    border:solid black 4px;
    width: 60px;
    text-align: center;
    background-color: white;
  }

  #tablero{

    border-bottom-right-radius: 7%;
    border-bottom-left-radius: 7%;
    border-top-right-radius: 7%;
    border-top-left-radius: 7%;
    border:solid #C4EAF2 100px;
    margin-top: 70vh;
    margin-bottom: 70vh;
    margin-left: 28vw;
    width: 5000px;
    height: 7000px;
    background-color: #BF6C3B;
    display: grid; 
    grid-template-areas:  ".   .   .   c63 c63 c63 .   .    .   .  "
                          ".   .   .   c63 c63 c63 .   .    .   .  "
                          ".   .   .   c63 c63 c63 .   .    .   .  "
                          "c59 c60 c61 c62 .   .   .   .    .   .  "
                          "c58 .   .   .   .   .   .   .    .   .  "
                          "c58 c57 c56 c55 c54 c53 c52 c51  c50 c49"
                          ".   .   .   .   .   .   .   .    .   c48"
                          "c39 c40 c41 c42 c43 c44 c45 c46  c47 c48"
                          "c38 .   .   .   .   .   .   .    .   .  "
                          "c38 c37 c36 c35 c34 c33 c32 c31  c30 c29"
                          ".   .   .   .   .   .   .   .    .   c28"
                          "c19 c20 c21 c22 c23 c24 c25 c26  c27 c28"
                          "c18 .   .   .   .   .   .   .    .   .  "
                          "c18 c17 c16 c15 c14 c13 c12 c11  c10 c9 "
                          ".   .   .   .   .   .   .   .    .   c8 "
                          ".   .   .   c2  c3  c4  c5  c6   c7  c8 "
                          ".   .   c1  c1  .   .   .   .    .  .   "
                          ".   .   c1  c1  .   .   .   .    .  .   ";

                          grid-template-columns:auto;
                          grid-template-rows:auto;
                          }
    
                          

                          #casillaInicio{grid-area: c1;background-image: url(recursos/inicio.png);}

                          #casilla2{grid-area: c2;margin-top: 10px; border-top-left-radius: 50%;}
                          #casilla3{grid-area: c3;margin-top: 10px;}
                          #casilla4{grid-area: c4;margin-top: 10px;}
                          #casilla5{grid-area: c5;margin-top: 10px;background-image: url(recursos/logo.jpg);}
                          #casilla6{grid-area: c6;margin-top: 10px;background-image: url(recursos/manifa1.jpg)}
                          #casilla7{grid-area: c7;margin-top: 10px;}
                          #casilla8{grid-area: c8;border-bottom-right-radius: 50%;}
                          #casilla9{grid-area: c9; margin-top:10px;border-top-right-radius: 50%;background-image: url(recursos/logo.jpg);}
                          #casilla10{grid-area:c10;margin-top: 10px;}
                          
                          #casilla11{grid-area: c11;margin-top:10px;}
                          #casilla12{grid-area: c12;margin-top:10px;background-image: url(recursos/manifa2.jpg);}
                          #casilla13{grid-area: c13;margin-top:10px;}
                          #casilla14{grid-area: c14;margin-top:10px;background-image: url(recursos/logo.jpg);}
                          #casilla15{grid-area: c15;margin-top:10px;}
                          #casilla16{grid-area: c16;margin-top:10px;}
                          #casilla17{grid-area: c17;margin-top:10px;}
                          #casilla18{grid-area: c18;border-bottom-left-radius: 50%;background-image: url(recursos/logo.jpg);}
                          #casilla19{grid-area: c19;margin-top: 10px; border-top-left-radius: 50%;background-image: url(recursos/posada.png);}
                          #casilla20{grid-area: c20;margin-top: 10px;}
                          
                          #casilla21{grid-area: c21;margin-top: 10px;}
                          #casilla22{grid-area: c22;margin-top: 10px;}
                          #casilla23{grid-area: c23;margin-top: 10px;background-image: url(recursos/logo.jpg);}
                          #casilla24{grid-area: c24;margin-top: 10px;}
                          #casilla25{grid-area: c25;margin-top: 10px;}
                          #casilla26{grid-area: c26;margin-top: 10px;}
                          #casilla27{grid-area: c27;margin-top: 10px;background-image: url(recursos/logo.jpg);}
                          #casilla28{grid-area: c28;border-bottom-right-radius: 50%;}
                          #casilla29{grid-area: c29; margin-top: 10px;border-top-right-radius: 50%;}
                          #casilla30{grid-area: c30; margin-top: 10px;}
                          
                          #casilla31{grid-area: c31; margin-top: 10px;background-image: url(recursos/pozo.png);}
                          #casilla32{grid-area: c32; margin-top: 10px;background-image: url(recursos/logo.jpg);}
                          #casilla33{grid-area: c33; margin-top: 10px;}
                          #casilla34{grid-area: c34; margin-top: 10px;}
                          #casilla35{grid-area: c35;margin-top: 10px; }
                          #casilla36{grid-area: c36;margin-top: 10px;background-image: url(recursos/logo.jpg);}
                          #casilla37{grid-area: c37;margin-top: 10px;}
                          #casilla38{grid-area: c38;border-bottom-left-radius: 50%;}
                          #casilla39{grid-area: c39;margin-top: 10px;border-top-left-radius: 50%;}
                          #casilla40{grid-area: c40;margin-top: 10px;}
                          
                          #casilla41{grid-area: c41; margin-top: 10px;background-image: url(recursos/logo.jpg);}
                          #casilla42{grid-area: c42; margin-top: 10px; background-image: url(recursos/laberinto.png)}
                          #casilla43{grid-area: c43; margin-top: 10px;}
                          #casilla44{grid-area: c44; margin-top: 10px;}
                          #casilla45{grid-area: c45; margin-top: 10px; background-image: url(recursos/logo.jpg);}
                          #casilla46{grid-area: c46; margin-top: 10px;}
                          #casilla47{grid-area: c47; margin-top: 10px;}
                          #casilla48{grid-area: c48; border-bottom-right-radius: 50%;}
                          #casilla49{grid-area: c49; margin-top: 10px;border-top-right-radius: 50%; }
                          #casilla50{grid-area: c50; margin-top: 10px;background-image: url(recursos/logo.jpg);}
                          
                          #casilla51{grid-area: c51; margin-top: 10px;}
                          #casilla52{grid-area: c52; margin-top: 10px;background-image: url(recursos/carcel.png);}
                          #casilla53{grid-area: c53; margin-top: 10px; margin-top: 10px;}
                          #casilla54{grid-area: c54; margin-top: 10px;background-image: url(recursos/logo.jpg);}
                          #casilla55{grid-area: c55; margin-top: 10px; }
                          #casilla56{grid-area: c56; margin-top: 10px;}
                          #casilla57{grid-area: c57; margin-top: 10px;}
                          #casilla58{grid-area: c58; border-bottom-left-radius: 50%;background-image: url(recursos/muerte.png);}
                          #casilla59{grid-area: c59; margin-top: 10px;border-top-left-radius: 50%;background-image: url(recursos/logo.jpg);}
                          #casilla60{grid-area: c60; margin-top: 10px;}
                          
                          #casilla61{grid-area: c61; margin-top: 10px;}
                          #casilla62{grid-area: c62; border-bottom-right-radius: 50%;}
                          
                          #casillaFinal{
                              grid-area: c63; 
                              background-repeat: no-repeat; 
                              background-position: center;background-image: url(recursos/logo.jpg);}

.area{
    
    width: 400px;
    height: 200px;
    display: flex;



}
     
#normas{font-size: 500%; margin-left: 100px; background-color: indigo; padding: 100px; color: white; margin-top: -300px; display: none;}
#texto{font-size: 500%; margin-left: 100px; background-color: #C4EAF2; padding: 100px;display: none;}
    