#body{background-color:#F29199}
.jugador{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#jugador1,#jugador2,#jugador3,#jugador4{
    font-size: 1rem;
    font-weight: 700;
    min-height: 20vh;
    position: fixed;
    min-width: 100px;  
}

#jugador1{ 
    background-color: rgba(255, 0, 0, 0.5);
    border:solid black 3px;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
    left: 0px;
    top:0px;
}

#jugador2{
    background-color: rgba(0, 128, 0, 0.5);
    border:solid black 3px;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
    bottom:0px;
    left: 0px;
}

#jugador3{
    background-color: rgba(255, 255, 0, 0.5);
    border:solid black 3px;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
    bottom:0px;
    right:0px;
}

#jugador4{
    background-color: rgba(0, 0, 255, 0.5); 
    border:solid black 3px;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
    right:0px;
    top:0px;
}

#tablero{
    background-color: #BF6C3B;
    border:solid #C4EAF2 10px;
    border-radius: 7%;
    display: grid;
    grid-template-areas:
    "c28 c27 c26 c25 c24 c23 c22 c21 c20 c19"
    "c29 c60 c59 c58 c57 c56 c55 c54 c53 c18"
    "c30 c61 .   .   d   d   .   .   c52 c17"
    "c31 c62 c63 c63 c63 c63 c63 .   c51 c16"
    "c32 .   c63 c63 c63 c63 c63 .   c50 c15"
    "c33 .   c63 c63 c63 c63 c63 .   c49 c14"
    "c34 .   c63 c63 c63 c63 c63 .   c48 c13"
    "c35 .   c63 c63 c63 c63 c63 .   c47 c12"
    "c36 .   .   .   .   .   .   n   c46 c11"
    "c37 c38 c39 c40 c41 c42 c43 c44 c45 c10"
    "c1  c1  c2  c3  c4  c5  c6  c7  c8  c9 "
    ;
    grid-template-columns:165px;
    grid-template-rows:150px;

    padding: 1em;
    min-height: 100vh;
    width: 100%;
}

.casilla {
    background-image: url(../../../resources/img/tablero/tablero/casillas/persona.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:solid black 1px;
    color: #fff;
    min-width: 6vw;
    min-height: 10vh !important;
    font-size: 1rem; 
    font-family: Impact, Charcoal, sans-serif;
    overflow: hidden;
    position: relative;
}
.casilla::after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:#190c1b;
    opacity: 0.4;
    z-index: 0;
}
.casillaHead {
    z-index: 1;
}
.casillaBody {
    z-index: 1;
}
.casillaFooter {
    z-index: 1;
}
.pregunta{
    background-color: #fff;
    border:solid  #000 4px;
    border-radius: 50%;
    float: right;
    font-size: 1rem;
    text-align: center;
    width: 30px;
}

.numCasilla {
    background-color:  #fff;
    border:solid #000 4px;
    border-radius: 50%;
    color: darkmagenta;
    cursor: default;
    font-size: 1rem;
    margin-top: 2px;
    text-align: center;
    width: 30px;
}

.area{
    display: flex;
    height: 40px;
}

#casillaInicio{grid-area: c1;margin-bottom: 10px; margin-left: 10px; border-bottom-left-radius: 30%; background-image: url(../../../resources/img/tablero/tablero/casillas/inicio.png);}
#casilla2{grid-area: c2;margin-bottom: 10px;}
#casilla3{grid-area: c3;margin-bottom: 10px;}
#casilla4{grid-area: c4;margin-bottom: 10px;}
#casilla5{grid-area: c5;margin-bottom: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/logo.jpg);}
#casilla6{grid-area: c6;margin-bottom: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/manifestacion1.jpg);}
#casilla7{grid-area: c7;margin-bottom: 10px;}
#casilla8{grid-area: c8;margin-bottom: 10px;}
#casilla9{grid-area: c9;margin-bottom: 10px;border-bottom-right-radius: 50%;margin-right: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/logo.jpg);}
#casilla10{grid-area:c10;margin-right: 10px;}
#casilla11{grid-area: c11;margin-right: 10px;}
#casilla12{grid-area: c12;margin-right: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/manifestacion2.jpg);}
#casilla13{grid-area: c13;margin-right: 10px;}
#casilla14{grid-area: c14;margin-right: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/logo.jpg);}
#casilla15{grid-area: c15;margin-right: 10px;}
#casilla16{grid-area: c16;margin-right: 10px;}
#casilla17{grid-area: c17;margin-right: 10px;}
#casilla18{grid-area: c18;margin-right: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/logo.jpg);}
#casilla19{grid-area: c19;margin-top: 10px; margin-right: 10px;border-top-right-radius: 50%; background-image: url(../../../resources/img/tablero/tablero/casillas/posada.png);}
#casilla20{grid-area: c20;margin-top: 10px;}
#casilla21{grid-area: c21;margin-top: 10px;}
#casilla22{grid-area: c22;margin-top: 10px;}
#casilla23{grid-area: c23;margin-top: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/logo.jpg);}
#casilla24{grid-area: c24;margin-top: 10px;}
#casilla25{grid-area: c25;margin-top: 10px;}
#casilla26{grid-area: c26;margin-top: 10px;}
#casilla27{grid-area: c27; margin-top: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/logo.jpg);}
#casilla28{grid-area: c28; margin-left: 10px;border-top-left-radius: 50%;margin-top: 10px;}
#casilla29{grid-area: c29; margin-left: 10px;}
#casilla30{grid-area: c30; margin-left: 10px;}
#casilla31{grid-area: c31; margin-left: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/pozo.png);}
#casilla32{grid-area: c32; margin-left: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/logo.jpg);}
#casilla33{grid-area: c33; margin-left: 10px;}
#casilla34{grid-area: c34; margin-left: 10px;}
#casilla35{grid-area: c35;margin-left: 10px; }
#casilla36{grid-area: c36; margin-left: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/logo.jpg);}
#casilla37{grid-area: c37;margin-bottom: 10px; border-bottom-left-radius: 50%;margin-left: 10px;}
#casilla38{grid-area: c38;margin-bottom: 10px;}
#casilla39{grid-area: c39;margin-bottom: 10px;}
#casilla40{grid-area: c40;margin-bottom: 10px;}
#casilla41{grid-area: c41; margin-bottom: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/logo.jpg);}
#casilla42{grid-area: c42; margin-bottom: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/laberinto.png)}
#casilla43{grid-area: c43; margin-bottom: 10px;}
#casilla44{grid-area: c44; margin-bottom: 10px;}
#casilla45{grid-area: c45; margin-right: 10px; margin-bottom: 10px; border-bottom-right-radius: 50%; background-image: url(../../../resources/img/tablero/tablero/casillas/logo.jpg);}
#casilla46{grid-area: c46; margin-right: 10px;}
#casilla47{grid-area: c47; margin-right: 10px;}
#casilla48{grid-area: c48; margin-right: 10px;}
#casilla49{grid-area: c49; margin-right: 10px; }
#casilla50{grid-area: c50; margin-right: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/logo.jpg);}
#casilla51{grid-area: c51; margin-right: 10px;}
#casilla52{grid-area: c52; margin-right: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/carcel.png);}
#casilla53{grid-area: c53; margin-right: 10px; border-top-right-radius: 50%;margin-top: 10px;}
#casilla54{grid-area: c54; margin-top: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/logo.jpg);}
#casilla55{grid-area: c55; margin-top: 10px; }
#casilla56{grid-area: c56; margin-top: 10px;}
#casilla57{grid-area: c57; margin-top: 10px;}
#casilla58{grid-area: c58; margin-top: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/muerte.png);}
#casilla59{grid-area: c59; margin-top: 10px; background-image: url(../../../resources/img/tablero/tablero/casillas/logo.jpg);}
#casilla60{grid-area: c60; margin-top: 10px;  border-top-left-radius: 50%; margin-left: 10px;}
#casilla61{grid-area: c61; margin-left: 10px;}
#casilla62{grid-area: c62;margin-left: 10px; border-bottom-left-radius: 50%; }
#casillaFinal{
    grid-area: c63; 
    background-repeat: no-repeat; 
    background-position: center;
    background-image: url(../../../resources/img/tablero/tablero/casillas/logo.jpg);
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 25%;
}
#casillaNormas{
    grid-area: n;
    transform: rotateY(0deg) rotate(45deg); /* needs Y at 0 deg to behave properly*/
    transition: transform 2s;
}

.ficha{
 background-color: white; 
 height: 30px;
 width: 30px;
 border-radius: 50%;
 
}

#panelDado{
    background-color: grey; 
    border:solid black 3px; 
    bottom:0px;
    max-height: 15vh;
    position: fixed;
    text-align: center;
    width: 200px;
    z-index: 1000;
}

#botontirar{
    width: 100%; 
    height: 50px; 
    font-size: 1em;
}

#dado1{
    width: 50px;
    height: 50px;
}

#debug{  left: 150vw;   position: fixed; background-color: yellowgreen; top:0px; width: 300px; height: 150px; font-size: 1rem; }
#btndebug{font-size: 200%;}
#texto{font-size: 1em; margin-left: 100px; background-color: #C4EAF2; padding: 100px;display: none;}


#mensajes{  
    width: 50%;
    height: 200px;
    border: solid 20px white;
    background-color: gray; 
    position: fixed;
    left: 35%;
    top: 80px ;
    display: none;
    margin-top: -100px;
    margin-left: -200px;
    color: white;
    font-size: 3em;
    text-align: center;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.card-tablero {
    height: auto !important;
    max-height: 700px !important;
    width: 30% !important;
}
#carta{
    height: 100vh;
    position: fixed;
    left: 0%;
    top: 0%;
    font-size: 1em;
    padding: 30px;
    display: none;
    width: 100%;
    z-index: 500;
}
#quitarcarta{width: auto; height: auto;}
#foto{
    width:30%;
    height: 150px;
    border: 5px solid white;
}
#respuesta1{margin: 1%; padding: 1%;background-color: #f3e1f3;}
#respuesta2{margin: 1%; padding: 1%;background-color: #f3e1f3;}
#respuesta3{margin: 1%; padding: 1%;background-color: #f3e1f3;}
#aceptar{width: auto; height: auto; font-size: 1em;}